html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  display: flex;
  padding: 46px;
  background-color: #00d9ff;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  padding: 4px 8px;
  margin: 0 4px;
  display: inline-block;
}

nav a:hover {
  background-color: #0099ff48;
  color: gray;
}
section {
  display: flex;
  padding: 20px;
}

section > h2{
  margin-right: 12px;
  text-align: right;
  width: 300px;
}

section > div{
  padding: 0 12px;
  border-left: 1px solid lightblue;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

p {
  width: 100%;
  background-color: rgb(243, 237, 237);
  border: 4px solid lightgoldenrodyellow
}

